.header-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Inter";
}

.image-logo {
    height: 3em;
    width: 9em;
}

.link-container {
    display: flex;
    gap: 15px;
}

.link-header-home, .link-header {
    font-family: "Inter", sans-serif;
    all: unset; 
    text-decoration: none; 
    cursor: pointer;
    padding: 10px; 
    font-size: 1.5em;
    color: #2d6a4f;
}

.link-header-home {
    font-weight: 550;
}

.login-button {
    font-family: "Inter";
    all: unset;
    margin-left: 15px;
    height: 50px;
    width: 155px;
    background-color: #2d6a4f;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.open-hamburger {
    display: none;
    font-size: 30px; 
    cursor: pointer;
    color: #2d6a4f;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; 
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 55px; 
    font-size: 36px;
    color: #818181;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media (max-width: 1130px) {
    .link-container {
        display: none;
    }

    .open-hamburger {
        display: block; 
    }
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; 
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#357b5c;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 15px; 
    font-size: 36px;
    color: #818181;
}

.login-button-sidenav {
    font-family: "Inter";
    all: unset;
    margin: 20px 32px;
    height: 50px;
    width: calc(100% - 64px); 
    background-color: #2d6a4f;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.sidenav a:hover {
    color:#204b38;
    font-weight: 500;
}
    
.link-header-home.active {
    font-weight: normal; 
}

.link-header-home.active, 
.link-header.active, 
.sidenav-link.active {
    font-weight: bold; 
}
