.blue-doc-image{
    position: absolute;
    top: 12%;
    right: 10vw;
    height: 491px;
    width: auto;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .blue-doc-image {
        display: none;
    }
}

.booking-button-container{
    margin: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.booking-button-container button{
    position: relative;
    width: 180px;
    height: 50px;
    margin: 10px;
    color: white;
    background-color: #306E63;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Inter";
    cursor: pointer;
    border: none;
}

.one{
    position: relative;
    right: 2.3%;
}

.two{
    position: relative;
    left: 2.3%;
}

.service-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 12px;
}

.service-form-left {
    flex: 1;
    max-width: 50%;
}

.service-form-path {
    font-size: 20px;
    font-family: "Inter";
    color: #25554D; 
    margin-bottom: 20px;
}

.bold-text {
    font-weight: bold;
    font-family: "Inter";
    color: #25554D;
}

.service-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-form input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 20px;
    color: #4D4D4D;
}

.service-form input[type="text"]:focus {
    border-color:#25554D; 
    outline: none;
}

.continue-button {
    background-color: #325F58; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Inter";
    margin-top: 10px;
    width: 200px;
    transition: background-color 0.3s ease;
}

.continue-button:hover {
    background-color: #213e3a; /* Slightly darker on hover */
}

.service-form-right {
    flex: 1;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-image {
    max-width: 100%;
    margin-bottom: 20px;
}

.service-info {
    text-align: center;
    font-size: 16px;
    color: #6b6b6b;
}

.service-info p {
    margin: 8px 0;
}
